<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Activity</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-clock-o fa-fw"></i> New Activity
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="well well-sm">
                    <form name="activityForm" role="form" ng-submit="postActivity()" novalidate>
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group" ng-class="{'has-error':activityForm.distanceCovered.$invalid && submitted}">
                                    <div class="input-group">
                                        <input id="distanceCovered" name="distanceCovered" type="number"
                                               placeholder="Distance ran" class="form-control"
                                               ng-model="activity.distanceCovered" min="1" step="1"
                                               title="Distance ran" required>
                                        <span class="input-group-addon">
                                            <select name="goalUnit" ng-model="activity.goalUnit">
                                                <option value="KM" ng-selected="activity.goalUnit == 'KM'">km</option>
                                                <option value="MI" ng-selected="activity.goalUnit == 'MI'">mi</option>
                                            </select>
                                        </span>
                                    </div>
                                    <span class="help-block" ng-if="activityForm.distanceCovered.$error.required && submitted">Distance is required.</span>
                                    <span class="help-block" ng-if="activityForm.distanceCovered.$error.min && submitted">Distance should be greater than 0.</span>
                                    <span class="help-block" ng-if="activityForm.distanceCovered.$error.number && submitted">Distance should be a number greater than 0.</span>
                                </div>
                                <div class="form-group" ng-class="{'has-error':((activityForm.durationHours.$invalid || activityForm.durationHours.$error.number || activityForm.durationHours.$invalid || activityForm.durationMinutes.$invalid || activityForm.durationSeconds.$invalid) && submitted)}" title="Activity Duration(hh:mm:ss)">
                                    <input id="durationHours" class="col-md-4" name="durationHours"
                                           ng-model="duration.hours"
                                           title="Duration Hours" type="number" min="0" max="23" placeholder="hh"
                                           ng-blur="validateDuration(duration)">
                                    <input id="durationMinutes" class="col-md-4" name="durationMinutes"
                                           ng-model="duration.minutes"
                                           title="Duration Minutes" type="number" min="0" max="59" placeholder="mm"
                                           ng-blur="validateDuration(duration)">
                                    <input id="durationSeconds" class="col-md-4" name="durationSeconds"
                                           ng-model="duration.seconds"
                                           title="Duration Seconds" type="number" min="0" max="59" placeholder="ss"
                                           ng-blur="validateDuration(duration)">

                                    <span class="help-block" ng-if="activityForm.durationHours.$invalid && submitted">Duration is required.</span>
                                    <span class="help-block" ng-if="activityForm.durationHours.$error.number && submitted">Hours should be a number.</span>
                                    <span class="help-block" ng-if="activityForm.durationMinutes.$error.number && submitted">Minutes should be a number.</span>
                                    <span class="help-block" ng-if="activityForm.durationSeconds.$error.number && submitted">Seconds should be a number.</span>
                                </div>
                                <div class="form-group">
                                    <br/><br/>
                                    <textarea name="status" id="status" class="form-control" rows="4" cols="25" placeholder="How did it go?" ng-model="activity.status"></textarea>
                                </div>

                            </div>

                            <div class="col-md-4 col-md-offset-2">
                                <div class="form-group" ng-class="{'has-error': ((activityForm.activityDate.$invalid || activityForm.$error['date-disabled']) && submitted)}">
                                    <datepicker id="activityDate" name="activityDate" ng-model="activity.activityDate" min-date="minDate" max-date="maxDate" show-weeks="false" ng-required="true"></datepicker>

                                    <span class="help-block" ng-if="activityForm.activityDate.$error.required  && submitted">Activity Date is required.</span>
                                    <span class="help-block" ng-if="activityForm.activityDate.$error.date && submitted">Activity Date is invalid.</span>
                                    <span class="help-block" ng-if="activityForm.$error['date-disabled'] && submitted">Activity Date should not be greater than today's date.</span>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-offset-5 col-md-7">
                                    <button class="btn btn-primary" type="submit"
                                            ng-disabled="successfulSubmission">
                                        {{buttonText}}
                                    </button>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>