<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="author" content="Shekhar Gulati"/>

    <title>Error 500(Internal Server Error)!</title>

    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/font-awesome.css" th:href="@{/css/font-awesome.css}"/>
    <link href="/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" th:href="@{/}">Miles2Run</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="home" th:href="@{/home}">Home</a></li>
                <li><a href="about" th:href="@{/about}">About</a></li>
            </ul>

            <ul class="nav navbar-collapse pull-right" th:if="${profile != null}">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" th:inline="text">
                        <img width="25" height="25" th:src="${profile.profilePic}"/> [[${profile.fullname}]] <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/" th:href="@{'/profiles/' + ${profile.username}}" th:text="${profile.fullname}"></a></li>
                        <li><a href="/logout" th:href="@{/logout}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <!--/.nav-collapse -->
    </div>
</div>

<div id="main" class="container-fluid" ng-controller="CounterCtrl">

    <div class="jumbotron">
        <h1 style="color: red">Oops, 500!</h1>
        <p class="lead">We appear to be having technical difficulties. Please try the operation again or come back later.</p>
        <p th:text="${error}"></p>
    </div>

</div>


<script src="/js/jquery.js" th:src="@{/js/jquery.js}"></script>
<script src="/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
<script src="/js/angular.js" th:src="@{/js/angular.js}"></script>
<script src="/js/index.js" th:src="@{/js/index.js}"></script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-49243977-1', 'miles2run.org');
    ga('send', 'pageview');

</script>
</body>
</html>