<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <title th:inline="text">[[${activity.fullname} + ' ran '+ ${activity.distanceCovered} +' '+ ${activity.goalUnit} + '
        on ' + ${#dates.format(activity.activityDate, 'dd-MMM-yyyy')}]]</title>

    <!-- Core CSS - Include with every page -->
    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link href="/css/sb-admin.css" th:href="@{/css/sb-admin.css}" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet'
          type='text/css'/>
    <link href="/css/plugins/social-buttons/social-buttons.css"
          th:href="@{/css/plugins/social-buttons/social-buttons.css}" rel="stylesheet"/>

    <!-- Miles2Run Overrides -->
    <link href="/css/miles2run.css" th:href="@{/css/miles2run.css}" rel="stylesheet"/>


</head>

<body id="home">

<div class="wrap">

    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="col-lg-12">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/" th:href="@{/}">Miles2Run</a>
                </div>
                <!-- /.navbar-header -->
                <ul class="nav navbar-top-links navbar-right" th:if="${profile != null}">
                    <!-- /.dropdown -->
                    <li class="dropdown">
                        <a href="/" th:href="@{/}">
                            <div>
                                <i class="fa fa-home fa-fw"></i> Home
                            </div>
                        </a>
                    </li>
                    <!-- /.dropdown -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#" th:href="@{'/profiles/' + ${profile.username}}" th:inline="text">
                                    <img width="25" height="25" th:src="${profile.profilePic}"/> [[${profile.fullname}]]
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="/logout" th:href="@{/logout}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <!-- /.dropdown -->
                </ul>
            </div>
        </div>
    </nav>

    <section id="first">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 th:inline="text">
                                <a href="#" th:href="@{'/profiles/' + ${activity.username}}" th:inline="text"><img width="50" height="50" th:src="${activity.profilePic}" class="img-thumbnail"/></a> [[${activity.fullname} + ' ran '+ ${activity.distanceCovered} +' '+ ${activity.goalUnit} + ' on ' + ${#dates.format(activity.activityDate, 'dd-MMM-yyyy')}]]
                            </h4>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="panel mini-box">
                                    <span class="box-icon rounded bg-success">
                                        <i class="fa fa-road"></i>
                                    </span>

                                    <div class="box-info">
                                        <p class="size-h2" th:text="${#numbers.formatDecimal(activity.distanceCovered,1,2)}"></p>
                                        <p class="text-muted"><span data-i18n="Goal" th:inline="text">[['Distance Ran (' + ${activity.goalUnit} + ')']]</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="panel mini-box">
                                    <span class="box-icon rounded bg-warning">
                                        <i class="fa fa-bolt"></i>
                                    </span>
                                    <div class="box-info">
                                        <p class="size-h2" th:inline="text" th:with="pace=((${activity.duration}/60) / ${activity.distanceCovered})">
                                            [[${#numbers.formatDecimal(pace,1,2)}]]
                                        </p>

                                        <p class="text-muted">
                                            <span data-i18n="Pace" th:inline="text">AVERAGE PACE (in mins/[[${activity.goalUnit}]])</span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="panel mini-box">
                            <span class="box-icon rounded bg-info">
                                <i class="fa fa-clock-o"></i>
                            </span>

                                    <div class="box-info">
                                        <p class="size-h2" th:text="${activity.durationStr}"></p>

                                        <p class="text-muted"><span data-i18n="Duration">Duration (hh:mm:ss)</span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="panel-footer" th:if="${activity.status != null}">
                        <p class="lead" th:text="${activity.status}"></p>
                    </div>

                </div>
            </div>
        </div>
    </section>


</div>
<!-- /.wrap -->

<footer>
    <div class="container clearfix">
        <div class="col-lg-6 links">
            <a href="/about" th:href="@{/about}">About</a>
            <a href="/contact" th:href="@{/contact}">Contact</a>
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-6 text-right">
            <a class="btn btn-social-icon btn-facebook" href="https://facebook.com/miles2run" target="_blank"><i
                    class="fa fa-facebook"></i></a>
            <a class="btn btn-social-icon btn-google-plus" href="https://plus.google.com/u/0/+Miles2Run"
               target="_blank"><i class="fa fa-google-plus"></i></a>
            <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/miles2runorg" target="_blank"><i
                    class="fa fa-twitter"></i></a>
        </div>
        <!-- /.col-lg-6 -->
    </div>
</footer>


<!-- Core Scripts - Include with every page -->
<script src="/js/libs/jquery.js" th:src="@{/js/libs/jquery.js}"></script>
<script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="/js/plugins/metisMenu/jquery.metisMenu.js" th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>

<!-- Page-Level Plugin Scripts -->

<!-- SB Admin Scripts - Include with every page -->
<script src="/js/sb-admin.js" th:src="@{/js/sb-admin.js}"></script>


</body>

</html>