<!DOCTYPE html>
<html lang="en" ng-app="miles2run-crs" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <title>Community Runs | Miles2Run</title>

    <!-- Core CSS - Include with every page -->
    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link href="/css/sb-admin.css" th:href="@{/css/sb-admin.css}" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'/>

    <!-- Page-Level Plugin CSS -->
    <!--<link href="/css/plugins/timeline/timeline.css" th:href="@{/css/plugins/timeline/timeline.css}" rel="stylesheet"/>-->
    <link href="/css/plugins/social-buttons/social-buttons.css" th:href="@{/css/plugins/social-buttons/social-buttons.css}" rel="stylesheet"/>

    <!-- Miles2Run Overrides -->
    <link href="/css/miles2run.css" th:href="@{/css/miles2run.css}" rel="stylesheet"/>

    <link href="/css/community_runs.css" th:href="@{/css/community_runs.css}" rel="stylesheet"/>

</head>

<body id="home">
<div class="wrap">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" th:href="@{/}">Miles2Run</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">

            <li class="dropdown">
                <a href="/community_runs" th:href="@{/community_runs}">
                    <div>
                        <i class="fa fa-group fa-fw"></i> Community Runs
                    </div>
                </a>
            </li>

            <!-- /.dropdown -->
            <li class="dropdown" th:if="${profile != null}">
                <a href="/" th:href="@{/}">
                    <div>
                        <i class="fa fa-home fa-fw"></i> Home
                    </div>
                </a>
            </li>
            <!-- /.dropdown -->
            <!-- /.dropdown -->
            <li class="dropdown" th:if="${profile != null}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a th:href="@{'/profiles/' + ${profile.username}} + '#/'" th:inline="text">
                            <img width="25" height="25" th:src="${profile.profilePic}"/> [[${profile.fullname}]]
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="/logout" th:href="@{/logout}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </nav>


    <section id="first" ng-controller="CommunityRunsSearchCtrl">
        <div class="container clearfix">
            <div class="col-lg-12">
                <div class="text-center push-1q-top link-silent">
                    <h1 class="extralarge-prose prose-type"><a th:href="@{/community_runs}">Community Runs</a></h1>
                    <h3>Discover community runs around the world</h3>
                    <div class="centered">
                        <ul class="nav">
                            <form class="form-inline" ng-submit="fetchCommunityRun()">
                                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 space-1-top space-1q-bottom">
                                    <div class="input-group">

                                        <input type="text" ng-model="communityRun" placeholder="Type name of event"
                                               typeahead="communityRun as communityRun.name for communityRun in getCommunityRuns($viewValue) | filter:$viewValue"
                                               typeahead-template-url="communityRun.html" typeahead-editable="false"
                                               class="form-control"/>

                                        <span class="input-group-btn">
                                            <button class="btn btn-blue" type="submit" ng-submit="fetchCommunityRun()">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </section>

    <section id="second">
        <div class="container clearfix">
            <div class="row">
                <ul class="list-silent nopad-ul link-silent">
                    <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12 space-2-bottom" th:each="runDetails : ${runs}">
                        <div class="event-box block contain-width centered">
                            <div class="event-box-body" style="background-image:url('');height:200px;">
                                <div class="event-content-box">
                                    <div class="card-logo-container">
                                        <a class="flushleft pad-3q push-3q" th:href="@{'/community_runs/' + ${runDetails.communityRun.slug}}">
                                            <img th:src="${runDetails.communityRun.bannerImg}" width="70" height="70"/>
                                        </a>
                                    </div>
                                    <div class="card-info-container">
                                        <a th:href="@{'/community_runs/' + ${runDetails.communityRun.slug}}" class="white">
                                            <h2 class="normal box-title push-1q-top" th:text="${runDetails.communityRun.name}"></h2>
                                        </a>
                                        <a th:href="@{'/community_runs/' + ${runDetails.communityRun.slug}}" class="white">
                                            <h4 class="normal prose-type regular" th:inline="text">[[${#dates.format(runDetails.communityRun.startDate,'dd MMMM yyyy')} + ' - ' + ${#dates.format(runDetails.communityRun.endDate,'dd MMMM yyyy')}]]</h4>
                                        </a>
                                        <ul class="nav tags">
                                            <li th:each="hashtag : ${runDetails.communityRun.hashtags}">
                                                <a href="#" th:text="${hashtag}"></a>
                                            </li>
                                        </ul>

                                    </div>
                                    <ul class="number-box-list secondary-prose nopad-ul thin" style="position:absolute;bottom:0;">
                                        <li class="number-box-display">
                                            <a href="/#" class="red-black number-box white">
                                                <div class="semibold" th:text="${runDetails.communityRunCounter.runners}"></div>Runners
                                            </a>
                                        </li>
                                        <li class="number-box-display">
                                            <a href="#" class="red-black number-box white">
                                                <div class="semibold" th:with="totalDistance=(${runDetails.communityRunCounter.totalDistance}/1609)" th:inline="text">[[${#numbers.formatDecimal(totalDistance,1,2)}]]</div>Miles
                                            </a>
                                        </li>
                                        <li class="number-box-display">
                                            <a href="#" class="red-black number-box white">
                                            <div class="semibold" th:with="totalDuration=(${runDetails.communityRunCounter.totalDuration}/3600)" th:inline="text">[[${#numbers.formatDecimal(totalDuration,1,2)}]]</div>Hours</a></li>

                                        <li class="number-box-display">
                                            <a href="#" class="red-black number-box white">
                                                <div class="semibold" th:text="${runDetails.communityRunCounter.cities}"></div>Cities
                                            </a>
                                        </li>
                                        <li class="number-box-display">
                                            <a href="#" class="red-black number-box white">
                                                <div class="semibold" th:text="${runDetails.communityRunCounter.countries}">5</div>Countries
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="event-box-footer"></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

</div>
<!-- /.wrap -->

<footer>
    <div class="container clearfix">
        <div class="col-lg-6 links">
            <a href="/about" th:href="@{/about}">About</a>
            <a href="/contact" th:href="@{/contact}">Contact</a>
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-6 text-right">
            <a class="btn btn-social-icon btn-facebook" href="https://facebook.com/miles2run" target="_blank"><i class="fa fa-facebook"></i></a>
            <a class="btn btn-social-icon btn-google-plus" href="https://plus.google.com/u/0/+Miles2Run" target="_blank"><i class="fa fa-google-plus"></i></a>
            <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/miles2runorg" target="_blank"><i class="fa fa-twitter"></i></a>
        </div>
        <!-- /.col-lg-6 -->
    </div>
</footer>

<script th:inline="javascript">
    /*<![CDATA[*/
    var activeUserProfile = [[${profile}]];
    /*]]>*/
</script>

<script type="text/ng-template" id="communityRun.html">
    <a ng-href="community_runs/{{match.model.slug}}">
        <img ng-src="{{match.model.bannerImg}}" width="18"/>
        <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
    </a>
</script>

<!-- Core Scripts - Include with every page -->
<script src="/js/libs/jquery.js" th:src="@{/js/libs/jquery.js}"></script>
<script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="/js/plugins/metisMenu/jquery.metisMenu.js" th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>

<!-- Page-Level Plugin Scripts -->

<!-- SB Admin Scripts - Include with every page -->
<script src="/js/sb-admin.js" th:src="@{/js/sb-admin.js}"></script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-49243977-1', 'miles2run.org');
    ga('send', 'pageview');

</script>


<script src="/js/libs/angular.js" th:src="@{/js/libs/angular.js}"></script>
<script src="/js/libs/ui-bootstrap-tpls-0.11.0.js" th:src="@{/js/libs/ui-bootstrap-tpls-0.11.0.js}"></script>
<script src="/js/community_runs.js" th:src="@{/js/community_runs.js}"></script>


</body>

</html>