<!DOCTYPE html>
<html lang="en" ng-app="miles2run-cr" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <title th:text="${communityRun.name} + ' | Community Run'"></title>

    <!-- Core CSS - Include with every page -->
    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link href="/css/sb-admin.css" th:href="@{/css/sb-admin.css}" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet'
          type='text/css'/>

    <!-- Page-Level Plugin CSS -->
    <link href="/css/plugins/social-buttons/social-buttons.css"
          th:href="@{/css/plugins/social-buttons/social-buttons.css}" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" href="/css/leaflet.css" th:href="@{/css/leaflet.css}"/>

    <!-- Miles2Run Overrides -->
    <link href="/css/miles2run.css" th:href="@{/css/miles2run.css}" rel="stylesheet"/>

    <link href="/css/community_runs.css" th:href="@{/css/community_runs.css}" rel="stylesheet"/>

</head>

<body id="home">

<div id="wrapper">

    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" th:href="@{/}">Miles2Run</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a href="/community_runs" th:href="@{/community_runs}">
                    <div>
                        <i class="fa fa-group fa-fw"></i> Community Runs
                    </div>
                </a>
            </li>

            <!-- /.dropdown -->
            <li class="dropdown" th:if="${profile != null}">
                <a href="/" th:href="@{/}">
                    <div>
                        <i class="fa fa-home fa-fw"></i> Home
                    </div>
                </a>
            </li>
            <!-- /.dropdown -->
            <li class="dropdown" th:if="${profile != null}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#" th:href="@{'/profiles/' + ${profile.username}} + '#/'" th:inline="text">
                            <img width="25" height="25" th:src="${profile.profilePic}"/> [[${profile.fullname}]]
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="/logout" th:href="@{/logout}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->
    </nav>

    <section id="first_cr">
        <div class="container clearfix">
            <div class="row well-lg">

                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <a th:href="@{'/community_runs/' + ${communityRun.slug}}" class="thumbnail-logo">
                        <img width="160" height="160" th:src="${communityRun.bannerImg}" alt=""/>
                    </a>
                </div>

                <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
                    <div class="row">
                        <div class="col-md-8">
                            <h2 class="large body-type" itemprop="name" th:text="${communityRun.name}"></h2>

                            <div>
                                <h4 class="bold all-caps body-type legible-prose lightblue" th:inline="text">
                                    [[${#dates.format(communityRun.startDate,'dd MMMM yyyy')} + ' - ' +
                                    ${#dates.format(communityRun.endDate,'dd MMMM yyyy')}]]</h4>
                            </div>
                        </div>
                        <div class="col-md-4 push-3q-top push-1q-bottom" th:if="${communityRun.loggedInUserParticipating == false}">
                            <form th:action="@{'/community_runs/' + ${communityRun.slug}+'/join'}" method="POST">
                                <button class="btn btn-success btn-lg">Join Community Run</button>
                            </form>
                        </div>

                        <div class="col-md-4" th:if="${communityRun.loggedInUserParticipating == true}">

                            <div class="row">
                                <div class="col-md-12">
                                    <p class="lead text-success">You have already joined this run.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                    <form th:action="@{'/community_runs/' + ${communityRun.slug}+'/leave'}" method="POST">
                                        <button class="btn btn-danger">Leave Community Run</button>
                                    </form>
                                    </p>
                                    <p>
                                        <a class="btn btn-success" th:href="@{'/goals/' + ${goalId}}">Go to Goal Dashboard</a>
                                    </p>
                                    <p>
                                        <a class="btn btn-success" th:href="@{'/goals/' +${goalId} + '#/activity/post'}">Log New Activity</a>
                                    </p>

                                </div>
                            </div>

                        </div>

                    </div>
                    <p class="normal legible-prose push-half" th:text="${communityRun.description}"></p>

                    <div class="legible-prose prose-type push-1-bottom lightblue">

                        Official website: <a th:href="${communityRun.website}" target="_blank"
                                             th:text="${communityRun.website}"></a><br/>

                        Twitter: <a th:href="@{'http://twitter.com/'+ ${communityRun.twitterHandle}}"
                                    target="_blank" th:text="${communityRun.twitterHandle}"></a>

                    </div>
                </div>

            </div>
            <!-- /.col-lg-12 -->
        </div>
    </section>
    <hr/>
    <section id="first">
        <div class="container clearfix">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 text-center">
                        <h2>
                            <span th:text="${communityRun.stats.runners}"></span> RUNNERS
                        </h2>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 text-center">
                        <h2>
                            <span th:with="totalDistance=(${communityRun.stats.totalDistance}/1609)"
                                  th:inline="text">[[${#numbers.formatDecimal(totalDistance,1,2)}]]</span> MILES
                        </h2>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 text-center">
                        <h2>
                            <span th:with="totalDuration=(${communityRun.stats.totalDuration}/3600)"
                                  th:inline="text">[[${#numbers.formatDecimal(totalDuration,1,2)}]]</span> HOURS
                        </h2>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 text-center">
                        <h2>
                            <span th:text="${communityRun.stats.cities}"></span> CITIES
                        </h2>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 text-center">
                        <h2>
                            <span th:text="${communityRun.stats.countries}"></span> COUNTRIES
                        </h2>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </section>
    <hr/>

    <section id="second_cr" ng-controller="CommunityRunCtrl">
        <leaflet height="500px" markers="markers" defaults="defaults"></leaflet>
    </section>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var communityRun = [[${communityRun}]];
    /*]]>*/
</script>

<!-- Core Scripts - Include with every page -->
<script src="/js/libs/jquery.js" th:src="@{/js/libs/jquery.js}"></script>
<script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="/js/plugins/metisMenu/jquery.metisMenu.js" th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<!-- Page-Level Plugin Scripts -->

<!-- SB Admin Scripts - Include with every page -->
<script src="/js/sb-admin.js" th:src="@{/js/sb-admin.js}"></script>

<script src="/js/libs/leaflet.js" th:src="@{/js/libs/leaflet.js}"></script>
<script src="/js/libs/angular.js" th:src="@{/js/libs/angular.js}"></script>
<script type="text/javascript" src="/js/libs/angular-leaflet-directive.js" th:src="@{/js/libs/angular-leaflet-directive.js}"></script>
<script src="/js/map.js" th:src="@{/js/map.js}">
</script>

</body>

</html>