<!DOCTYPE html>
<html lang="en" ng-app="miles2run-home" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <title>Miles2Run Home -- View all goals</title>

    <!-- Core CSS - Include with every page -->
    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link href="/css/sb-admin.css" th:href="@{/css/sb-admin.css}" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet'
          type='text/css'/>

    <!-- Page-Level Plugin CSS -->
    <link rel="stylesheet" href="/css/toastr.css" th:href="@{/css/toastr.css}"/>
    <link href="/css/plugins/timeline/timeline.css" th:href="@{/css/plugins/timeline/timeline.css}" rel="stylesheet"/>
    <link href="/css/plugins/social-buttons/social-buttons.css" th:href="@{/css/plugins/social-buttons/social-buttons.css}" rel="stylesheet"/>

    <!-- Miles2Run Overrides -->
    <link href="/css/miles2run.css" th:href="@{/css/miles2run.css}" rel="stylesheet"/>

    <link href="/css/plugins/morris/morris-0.4.3.min.css" th:href="@{/css/plugins/morris/morris-0.4.3.min.css}"
          rel="stylesheet"/>
    <link href="/css/angular-busy.css" th:href="@{/css/angular-busy.css}" rel="stylesheet"/>

</head>

<body>

<div id="wrapper">

    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" th:href="@{/}">Miles2Run</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right" th:if="${profile != null}">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a href="/" th:href="@{/}">
                    <div>
                        <i class="fa fa-home fa-fw"></i> Home
                    </div>
                </a>
            </li>
            <li class="dropdown" ng-controller="NotificationCtrl">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" ng-click="fetchNotifications()">
                    <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li ng-repeat="notification in notifications">
                        <a ng-href="{{appContext()}}profiles/{{notification.userTookAction}}">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> {{notification.userTookAction}} {{notification.action|lowercase}}ed you
                                <span class="pull-right text-muted small">{{notification.timestamp | date:'MMddyyyy HH mm ss'|moment}}</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#notifications">
                            <strong>See All Alerts</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-alerts -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a th:href="@{'/profiles/' + ${profile.username}} + '#/'" th:inline="text">
                            <img width="25" height="25" th:src="${profile.profilePic}"/> [[${profile.fullname}]]
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="/logout" th:href="@{/logout}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <div class="navbar-default navbar-static-side" role="navigation" ng-controller="HeaderCtrl">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li ng-class="{ active: isActive('/')}">
                        <a href="#"><i class="fa fa-list fa-fw"></i> Active Goals</a>
                    </li>
                    <li ng-class="{ active: isActive('/goals/create')}">
                        <a href="#goals/create"><i class="fa fa-pencil fa-fw"></i> New Goal</a>
                    </li>
                    <li ng-class="{ active: isActive('/goals/archive')}">
                        <a href="#goals/archive"><i class="fa fa-archive fa-fw"></i> Archived Goals</a>
                    </li>
                    <li ng-class="{ active: isActive('/timeline')}">
                        <a href="#timeline"><i class="fa fa-clock-o fa-fw"></i> Timeline</a>
                    </li>
                    <li ng-class="{ active: isActive('/friends')}">
                        <a href="#friends"><i class="fa fa-users fa-fw"></i> Friends</a>
                    </li>
                    <li ng-class="{ active: isActive('/notifications')}">
                        <a href="#notifications"><i class="fa fa-bell fa-fw"></i> Notifications</a>
                    </li>
                </ul>
                <!-- /#side-menu -->
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-top-links -->
    </nav>

    <div id="page-wrapper" ng-view="">

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<script th:inline="javascript">
    /*<![CDATA[*/
    var activeUserProfile = [[${profile}]];
    /*]]>*/
</script>


<!-- Core Scripts - Include with every page -->
<script src="/js/libs/jquery.js" th:src="@{/js/libs/jquery.js}"></script>
<script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="/js/plugins/metisMenu/jquery.metisMenu.js" th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>

<!-- Page-Level Plugin Scripts -->
<!-- Page-Level Plugin Scripts - Tables -->
<script src="/js/plugins/dataTables/jquery.dataTables.js"
        th:src="@{/js/plugins/dataTables/jquery.dataTables.js}"></script>
<script src="/js/plugins/dataTables/dataTables.bootstrap.js"
        th:src="@{/js/plugins/dataTables/dataTables.bootstrap.js}"></script>

<!-- SB Admin Scripts - Include with every page -->
<script src="/js/sb-admin.js" th:src="@{/js/sb-admin.js}"></script>

<script src="/js/libs/angular.js" th:src="@{/js/libs/angular.js}"></script>
<script src="/js/libs/angular-resource.js" th:src="@{/js/libs/angular-resource.js}"></script>
<script src="/js/libs/angular-cookies.js" th:src="@{/js/libs/angular-cookies.js}"></script>
<script src="/js/libs/angular-sanitize.js" th:src="@{/js/libs/angular-sanitize.js}"></script>
<script src="/js/libs/angular-route.js" th:src="@{/js/libs/angular-route.js}"></script>
<script src="/js/libs/angular-animate.js" th:src="@{/js/libs/angular-animate.js}"></script>
<script src="/js/libs/angular-busy.js" th:src="@{/js/libs/angular-busy.js}"></script>

<script src="/js/libs/ui-bootstrap-tpls-0.11.0.js" th:src="@{/js/libs/ui-bootstrap-tpls-0.11.0.js}"></script>
<script src="/js/libs/toastr.js" th:src="@{/js/libs/toastr.js}"></script>
<script src="/js/libs/moment.js" th:src="@{/js/libs/moment.js}"></script>

<script src="/scripts/home/app.js" th:src="@{/scripts/home/app.js}"></script>
<script src="/scripts/home/services/ConfigService.js" th:src="@{/scripts/home/services/ConfigService.js}"></script>
<script src="/scripts/home/controllers/FriendsCtrl.js" th:src="@{/scripts/home/controllers/FriendsCtrl.js}"></script>
<script src="/scripts/home/controllers/GoalsCtrl.js" th:src="@{/scripts/home/controllers/GoalsCtrl.js}"></script>
<script src="/scripts/home/controllers/HomeTimelineCtrl.js" th:src="@{/scripts/home/controllers/HomeTimelineCtrl.js}"></script>
<script src="/scripts/home/controllers/ViewActivityCtrl.js" th:src="@{/scripts/home/controllers/ViewActivityCtrl.js}"></script>
<script src="/scripts/home/controllers/CreateGoalCtrl.js" th:src="@{/scripts/home/controllers/CreateGoalCtrl.js}"></script>
<script src="/scripts/home/controllers/EditGoalCtrl.js" th:src="@{/scripts/home/controllers/EditGoalCtrl.js}"></script>
<script src="/scripts/home/controllers/ArchivedGoalsCtrl.js" th:src="@{/scripts/home/controllers/ArchivedGoalsCtrl.js}"></script>
<script src="/scripts/home/controllers/NotificationsCtrl.js" th:src="@{/scripts/home/controllers/NotificationsCtrl.js}"></script>
</body>

</html>