<!DOCTYPE html>
<html lang="en" ng-app="milestogo" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <title th:text="${userProfile.fullname +' ('+ userProfile.username +')'} + ' on Miles2Run'"></title>

    <!-- Core CSS - Include with every page -->
    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link href="/css/sb-admin.css" th:href="@{/css/sb-admin.css}" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet'
          type='text/css'/>

    <!-- Page-Level Plugin CSS -->
    <link rel="stylesheet" href="/css/toastr.css" th:href="@{/css/toastr.css}"/>
    <link href="/css/plugins/timeline/timeline.css" th:href="@{/css/plugins/timeline/timeline.css}" rel="stylesheet"/>
    <link href="/css/plugins/social-buttons/social-buttons.css" th:href="@{/css/plugins/social-buttons/social-buttons.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/cal-heatmap.css" th:href="@{/css/cal-heatmap.css}"/>

    <!-- Miles2Run Overrides -->
    <link href="/css/miles2run.css" th:href="@{/css/miles2run.css}" rel="stylesheet"/>

</head>

<body>

<div id="wrapper">

    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" th:href="@{/}">Miles2Run</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> New Comment
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                <span class="pull-right text-muted small">12 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> Message Sent
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-tasks fa-fw"></i> New Task
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Alerts</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-alerts -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user" th:if="${profile != null}">
                    <li>
                        <a href="#" th:href="@{'/profiles/' + ${profile.username}}" th:inline="text">
                            <img width="25" height="25" th:src="${profile.profilePic}"/> [[${profile.fullname}]]
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="/logout" th:href="@{/logout}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->
        <div class="navbar-default navbar-static-side" role="navigation" ng-controller="HeaderCtrl">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li ng-class="{ active: isActive('/')}">
                        <a href="#"><i class="fa fa-clock-o fa-fw"></i> Timeline</a>
                    </li>
                    <li ng-class="{ active: isActive('/followers')}">
                        <a href="#followers"><i class="fa fa-users fa-fw"></i> Followers</a>
                    </li>
                    <li ng-class="{ active: isActive('/following')}">
                        <a href="#following"><i class="fa fa-users fa-fw"></i> Following</a>
                    </li>
                </ul>
                <!-- /#side-menu -->
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Profile</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="avatar pull-left"><img th:src="${userProfile.biggerProfilePic}"/></span> <h3 th:text="${userProfile.fullname}"></h3>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <h4 th:text="'@' + ${userProfile.username}"></h4>
                        <p th:text="${userProfile.bio}"></p>
                        <p th:text="${userProfile.city} + ', '+ ${userProfile.country}"></p>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-lg-3 col-sm-3 text-center">
                                <h4>Active Goal</h4>

                                <div th:inline="text">
                                    [[${userProfile.goal} + ' ' + ${userProfile.goalUnit.upperCase()}]]
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-3 text-center">
                                <h4>Distance Covered</h4>

                                <div th:inline="text">
                                    [[${progress.totalDistanceCovered} + ' ' + ${userProfile.goalUnit.upperCase()}]]
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-3 text-center">
                                <h4>Average Pace</h4>

                                <div th:inline="text">
                                    [[${#numbers.formatDecimal(progress.averagePace,1,2)} + ' MINS/' + ${userProfile.goalUnit.upperCase()}]]
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-3 text-center">
                                <h4>Total Activities</h4>

                                <div th:text="${activities}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->

            </div>
            <div ng-view="">

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<script th:inline="javascript">
    /*<![CDATA[*/

    var activeUserProfile = [[${activeProfile}]];

    /*]]>*/
</script>

<!-- Core Scripts - Include with every page -->
<script src="/js/libs/jquery.js" th:src="@{/js/libs/jquery.js}"></script>
<script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="/js/plugins/metisMenu/jquery.metisMenu.js" th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>

<!-- Page-Level Plugin Scripts -->

<!-- SB Admin Scripts - Include with every page -->
<script src="/js/sb-admin.js" th:src="@{/js/sb-admin.js}"></script>

<script src="/js/libs/angular.js" th:src="@{/js/libs/angular.js}"></script>
<script src="/js/libs/angular-resource.js" th:src="@{/js/libs/angular-resource.js}"></script>
<script src="/js/libs/angular-cookies.js" th:src="@{/js/libs/angular-cookies.js}"></script>
<script src="/js/libs/angular-sanitize.js" th:src="@{/js/libs/angular-sanitize.js}"></script>
<script src="/js/libs/angular-route.js" th:src="@{/js/libs/angular-route.js}"></script>

<script src="/scripts/profile/app.js" th:src="@{/scripts/profile/app.js}"></script>
<script src="/scripts/profile/controllers/timeline.js" th:src="@{/scripts/profile/controllers/timeline.js}"></script>
<script src="/scripts/profile/controllers/followers.js" th:src="@{/scripts/profile/controllers/followers.js}"></script>
<script src="/scripts/profile/controllers/following.js" th:src="@{/scripts/profile/controllers/following.js}"></script>



</body>

</html>