<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 text-center">
                        <h4>Goal</h4>

                        <div>
                            100 miles
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 text-center">
                        <h4>Average Pace</h4>

                        <div>
                            8:52
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 text-center">
                        <h4>Total Activities</h4>

                        <div>
                            8
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-tasks fa-fw"></i> Goal
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div>
                    <p>
                        <strong class="h3">Run 100 miles</strong>
                        <span class="pull-right text-muted">43% Complete</span>
                    </p>

                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                             aria-valuemin="0" aria-valuemax="100" style="width: 43%">
                            <span class="sr-only">43% Complete (success)</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->