<script type="text/ng-template" id="user.html">
    <a ng-href="profiles/{{match.model.username}}">
        <img ng-src="{{match.model.pic}}" width="18">
        <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
    </a>
</script>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Community</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-users fa-fw"></i> Search Miles2Run community
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <form ng-submit="fetchProfile()">
                    <div class="form-group input-group">
                        <input type="text" ng-model="profile" placeholder="Type user full name"
                               typeahead="profile as profile.fullname for profile in getProfiles($viewValue) | filter:$viewValue"
                            typeahead-template-url="user.html" typeahead-editable=false class="form-control">
                               <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                                    </button>
                                </span>
                        </div>
                </form>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-comments fa-fw"></i> Currently following
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <ul class="chat">
                    <li class="left clearfix" ng-repeat="follower in followers">
                                    <span class="chat-img pull-left">
                                        <span class="avatar"><a ng-href="profiles/{{follower.username}}"><img ng-src="{{follower.pic}}"></a></span>
                                    </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong>{{follower.fullname}}</strong>
                            </div>
                            <p>
                                {{follower.bio}}
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-6">
        <div class="chat-panel members panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-comment fa-fw"></i>
                People you might enjoy following
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <ul class="chat">
                    <li class="left clearfix" ng-repeat="friend in friends">
                                    <span class="chat-img pull-left">
                                        <span class="avatar"><a ng-href="profiles/{{friend.username}}"><img alt="default avatar" ng-src="{{friend.pic}}"></a></span>
                                    </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong>{{friend.fullname}}</strong> <button type="button" class="btn btn-info btn-xs pull-right" ng-click="followUser(friend,$index)">Follow</button>
                            </div>
                            <p>
                                {{friend.bio}}
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel .chat-panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<!-- /.row -->