<script type="text/ng-template" id="user.html">
    <a ng-href="profiles/{{match.model.username}}">
        <img ng-src="{{match.model.pic}}" width="18">
        <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
    </a>
</script>

<div class="row apptext well">
    <h2>Here are some people you might enjoy following.</h2>
    <hr>
    <div class="col-md-4" ng-repeat="friend in friends">
        <a ng-href="profiles/{{friend.username}}"><img ng-src="{{friend.pic}}" width="50px" height="50px"></a>
        <br>
        <h4>{{friend.fullname}}</h4>

        <p>{{friend.city}}, {{friend.country}}</p>
        <button class="btn btn-default" ng-click="followUser(friend,$index)"><i class="glyphicon glyphicon-user"></i> Follow
        </button>
    </div>
</div>
<div class="row apptext well">
    <h2>Search Miles2Run community</h2>
    <form ng-submit="fetchProfile()">
        <input type="text" ng-model="profile" placeholder="Type user full name"
               typeahead="profile as profile.fullname for profile in getProfiles($viewValue) | filter:$viewValue"
               typeahead-template-url="user.html" typeahead-editable=false class="form-control">
    </form>
</div>