<script type="text/ng-template" id="confirm.html">
    <div class="modal-footer">
        <p class="pull-left">Are you sure you want to delete this activity?</p>
        <button class="btn btn-danger" ng-click="ok()">Delete</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</script>

<div class="noactivity well" ng-if="activities.length == 0" ng-cloak>
    <h2>You haven't tracked any activities yet!!</h2>
    <p class="lead">But don't worry! It's really easy to get started. Just click on the button below to enter your first activity:</p>
    <a class="btn btn-success" ng-href="#activity/post">Post New Activity</a>
</div>
<ul class="timeline" ng-if="activities.length">
    <li ng-repeat="activity in activities">
        <div ng-show="activity.share.twitter"  class="timeline-badge success" title="shared on twitter">
            <i class="fa fa-twitter"></i>
        </div>
        <div ng-show="activity.share.facebook"  class="timeline-badge success" title="shared on facebook">
            <i class="fa fa-facebook"></i>
        </div>
        <div ng-hide="activity.share.facebook || activity.share.twitter" class="timeline-badge info" title="share">
            <a ng-href="#/activity/share/{{activity.id}}" title="share activity"><i class="glyphicon glyphicon-share"></i></a>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title"><a ng-href="#/activity/{{activity.id}}">{{activity.fullname}} ran {{activity.distanceCovered}} {{activity.goalUnit | lowercase}}</a>  <small class="text-muted pull-right"><i class="glyphicon glyphicon-calendar"></i> {{activity.activityDate | date:'MMM dd, yyyy'}}</small></h4>
            </div>
            <hr>
            <div class="timeline-footer">
                <a ng-href="#/activity/edit/{{activity.id}}" title="edit activity"><i class="glyphicon glyphicon-edit"></i></a>
                <a class="pull-right" ng-click="delete($index)" title="delete activity"><i class="glyphicon glyphicon-trash"></i></a>
            </div>
        </div>
    </li>
</ul>