<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Goals</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-trophy fa-fw"></i> Select a Goal Type
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" name="goalType" id="distance_goal" value="distance_goal" ng-model="goalType" ng-change="renderNextView()">Achieve a distance (i.e. run 50 miles by October 30, 2014)
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="goalType" id="duration_goal" value="duration_goal" ng-model="goalType" ng-change="renderNextView()">Run for N days (i.e. run everyday for 30 days)
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="goalType" id="community_goal" value="community_goal" ng-model="goalType" ng-change="renderNextView()">Join a community run (i.e. join JavaOne 2014 community run)
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>