<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Goals</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-clock-o fa-fw"></i> Join a Race
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <form name="goalForm" class="form-horizontal" ng-submit="joinRace()" novalidate>


                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>