<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Goals</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-trophy fa-fw"></i> Create New Goal (Duration Based)
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <form name="goalForm" ng-submit="createDurationGoal()" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group"
                                 ng-class="{'has-error': (goalForm.numberOfDays.$invalid && submitted)}">
                                <label for="numberOfDays">Number of Days you want to run</label>
                                <input id="numberOfDays" name="numberOfDays" type="number"
                                       class="form-control" ng-model="goal.numberOfDays" min="1" step="1"
                                       ng-change="numberOfDaysUpdated()" required>
                                <span class="help-block" ng-if="goalForm.numberOfDays.$error.required && submitted">Days is required.</span>
                                <span class="help-block" ng-if="goalForm.numberOfDays.$error.min && submitted">Days should be greater than 0.</span>
                                <span class="help-block" ng-if="goalForm.numberOfDays.$error.number && submitted">Days should be a number greater than 0.</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group"
                                 ng-class="{'has-error': (goalForm.purpose.$invalid && submitted)}">
                                <label for="purpose">Purpose</label>
                                <input id="purpose" name="purpose" type="text"
                                       placeholder="Why are you creating this goal? eg. loose 10 lbs."
                                       class="form-control" ng-model="goal.purpose"
                                       title="Please provide purpose of this goal"
                                       required
                                       ng-maxlength="100"
                                       autocomplete="off">
                                <span class="help-block" ng-if="goalForm.purpose.$error.required && submitted">Purpose is required.</span>
                                <span class="help-block" ng-if="goalForm.purpose.$error.maxlength && submitted">Purpose should be less than 100 characters.</span>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="startDate">Start Date</label>
                                        <datepicker id="startDate" name="startDate" ng-model="goal.startDate"
                                                    min-date="minStartDate" class="well well-sm"
                                                    ng-change="startDateUpdated()"></datepicker>
                                    </div>

                                    <div class="col-md-6">
                                        <label for="endDate">End Date</label>
                                        <datepicker id="endDate" name="endDate" ng-model="goal.endDate"
                                                    min-date="minEndDate" class="well well-sm"
                                                    ng-change="endDateUpdated()"></datepicker>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-offset-5 col-md-7">
                                <button class="btn btn-primary" type="submit"
                                        ng-disabled="successfulSubmission">
                                    {{buttonText}}
                                </button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>