<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Goals</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-trophy fa-fw"></i> Create New Goal(Duration Based)
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <form name="goalForm" ng-submit="createDurationGoal()" novalidate>
                    <fieldset>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="numberOfDays">Number of Days you want to run</label>
                                    <input id="numberOfDays" name="numberOfDays" type="number"
                                           class="form-control" ng-model="goal.numberOfDays" min="1" step="1"
                                           ng-change="numberOfDaysUpdated()" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="startDate">Start Date</label>
                                    <datepicker id="startDate" name="startDate" ng-model="goal.startDate" min-date="minStartDate" show-weeks="true" class="well well-sm" ng-change="startDateUpdated()"></datepicker>
                                </div>

                                <div class="col-md-6">
                                    <label for="endDate">End Date</label>
                                    <datepicker id="endDate" name="endDate" ng-model="goal.endDate" show-weeks="true" min-date="minEndDate"  class="well well-sm" ng-change="endDateUpdated()"></datepicker>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="purpose">Purpose</label>
                                    <input id="purpose" name="purpose" type="text"
                                           placeholder="Why are you creating this goal? eg. loose 10 lbs."
                                           class="form-control" ng-model="goal.purpose"
                                           title="Please provide purpose of this goal"
                                           required
                                           ng-maxlength="100"
                                           autocomplete="off">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-4 pull-left">
                                <button class="btn btn-primary btn-block" type="submit" ng-disabled="successfulSubmission">
                                    {{buttonText}}
                                </button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>