<script type="text/ng-template" id="confirm.html">
    <div class="modal-footer">
        <p class="pull-left">Are you sure you want to delete this activity?</p>
        <button class="btn btn-danger" ng-click="ok()">Delete</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</script>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Home Timeline</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default" ng-if="goalExists" ng-cloak>
            <div class="panel-heading">
                <i class="fa fa-pencil-square-o fa-fw"></i> Log new run
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="well well-sm">
                    <form name="forms.activityForm" role="form" ng-submit="postActivity()" novalidate>
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <select id="goal" name="goal" class="form-control" required="required" ng-model="forms.selectedGoal" ng-options='goal.purpose for goal in goals' ng-change="updateForm()">
                                    </select>
                                </div>

                                <div class="form-group" ng-class="{'has-error':forms.activityForm.distanceCovered.$invalid && submitted}">
                                    <div class="input-group">
                                        <input id="distanceCovered" name="distanceCovered" type="number"
                                               placeholder="Distance ran" class="form-control"
                                               ng-model="activity.distanceCovered" min="1" step="1"
                                               title="Distance ran" required>
                                        <span class="input-group-addon">
                                            <select name="goalUnit" ng-model="activity.goalUnit">
                                                <option value="KM" ng-selected="activity.goalUnit == 'KM'">km</option>
                                                <option value="MI" ng-selected="activity.goalUnit == 'MI'">mi</option>
                                            </select>
                                        </span>
                                    </div>
                                    <span class="help-block" ng-if="forms.activityForm.distanceCovered.$error.required && submitted">Distance is required.</span>
                                    <span class="help-block" ng-if="forms.activityForm.distanceCovered.$error.min && submitted">Distance should be greater than 0.</span>
                                    <span class="help-block" ng-if="forms.activityForm.distanceCovered.$error.number && submitted">Distance should be a number greater than 0.</span>
                                </div>
                                <div class="form-group" ng-class="{'has-error':((forms.activityForm.durationHours.$invalid || forms.activityForm.durationMinutes.$invalid || forms.activityForm.durationSeconds.$invalid) && submitted)}" title="Activity Duration(hh:mm:ss)">
                                    <input id="durationHours" class="col-md-4" name="durationHours"
                                           ng-model="duration.hours"
                                           title="Duration Hours" type="number" min="0" max="23" placeholder="hh"
                                           ng-blur="validateDuration(duration)">
                                    <input id="durationMinutes" class="col-md-4" name="durationMinutes"
                                           ng-model="duration.minutes"
                                           title="Duration Minutes" type="number" min="0" max="59" placeholder="mm"
                                           ng-blur="validateDuration(duration)">
                                    <input id="durationSeconds" class="col-md-4" name="durationSeconds"
                                           ng-model="duration.seconds"
                                           title="Duration Seconds" type="number" min="0" max="59" placeholder="ss"
                                           ng-blur="validateDuration(duration)">

                                    <span class="help-block" ng-if="forms.activityForm.durationHours.$invalid && submitted">Duration is required.</span>
                                    <span class="help-block" ng-if="forms.activityForm.durationHours.$error.number && submitted">Hours should be a number.</span>
                                    <span class="help-block" ng-if="forms.activityForm.durationMinutes.$error.number && submitted">Minutes should be a number.</span>
                                    <span class="help-block" ng-if="forms.activityForm.durationSeconds.$error.number && submitted">Seconds should be a number.</span>
                                </div>
                                <div class="form-group">
                                    <br/><br/>
                                    <textarea name="status" id="status" class="form-control" rows="4" cols="25" placeholder="How did it go?" ng-model="activity.status"></textarea>
                                </div>

                            </div>

                            <div class="col-md-4 col-md-offset-2">
                                <div class="form-group" ng-class="{'has-error': ((forms.activityForm.activityDate.$invalid || forms.activityForm.$error['date-disabled']) && submitted)}">
                                    <datepicker id="activityDate" name="activityDate" ng-model="activity.activityDate" min-date="minDate" max-date="maxDate" show-weeks="false" ng-required="true"></datepicker>

                                    <span class="help-block" ng-if="forms.activityForm.activityDate.$error.required  && submitted">Activity Date is required.</span>
                                    <span class="help-block" ng-if="forms.activityForm.activityDate.$error.date && submitted">Activity Date is invalid.</span>
                                    <span class="help-block" ng-if="forms.activityForm.$error['date-disabled'] && submitted">Activity Date should not be greater than today's date.</span>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-offset-5 col-md-7">
                                    <button class="btn btn-primary" type="submit"
                                            ng-disabled="successfulSubmission">
                                        Log your run
                                    </button>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-clock-o fa-fw"></i> Your home timeline
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div cg-busy="homeTimelinePromise"></div>
                <div class="well" ng-if="activities.length == 0" ng-cloak>
                    <h2>Nothing posted yet!!</h2>

                    <p class="lead">Start posting activities or follow other runners to track their activities.</p>
                </div>

                <ul class="timeline" ng-if="activities.length">
                    <li ng-repeat="activity in activities" ng-class-even="'timeline-inverted'">
                        <div class="timeline-badge">
                            <span class="avatar"><a ng-href="{{appContext()}}profiles/{{activity.username}}"><img
                                    ng-src="{{activity.profilePic}}"></a></span>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading clearfix ">
                                <h4 class="timeline-title"><a
                                        ng-href="{{appContext()}}profiles/{{activity.username}}/activities/{{activity.id}}">{{activity.username}}
                                    ran {{activity.distanceCovered | number:2}} {{activity.goalUnit | lowercase}}</a>
                                </h4>
                                <span class="pull-right text-muted small"><i class="fa fa-calendar fa-fw"></i><em>{{activity.activityDate
                                    | date:'MMM dd, yyyy'}}</em></span>
                            </div>
                            <div class="timeline-body">
                                <p>{{activity.status}}</p>
                                <hr>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                            data-toggle="dropdown">
                                        <i class="fa fa-cog"></i>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu"
                                        ng-if="activity.username == currentUser.username" ng-cloak>
                                        <li>
                                            <a ng-href="{{appContext()}}profiles/{{activity.username}}/activities/{{activity.id}}"
                                               title="view activity">View</a>
                                        </li>
                                        <li>
                                            <a ng-href="{{appContext()}}goals/{{activity.goalId}}#/activity/edit/{{activity.id}}"
                                               title="edit activity">Edit</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#timeline" ng-click="delete($index)"
                                               title="delete activity">Delete</a>
                                        </li>
                                    </ul>
                                    <ul class="dropdown-menu" role="menu"
                                        ng-if="activity.username != currentUser.username" ng-cloak>
                                        <li>
                                            <a ng-href="{{appContext()}}profiles/{{activity.username}}/activities/{{activity.id}}"
                                               title="view activity">View</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="pull-right">
                                    <a class="btn btn-xs btn-social-icon btn-facebook" target="_blank"
                                       ng-href="{{facebookShareUrl(activity)}}">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <a class="btn btn-xs btn-social-icon btn-twitter" target="_blank"
                                       ng-href="{{twitterShareUrl(activity)}}">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a class="btn btn-xs btn-social-icon btn-google-plus" target="_blank"
                                       ng-href="{{googleShareUrl(activity)}}">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <pagination direction-links="false" total-items="totalItems" ng-model="currentPage"
                            ng-change="pageChanged()"></pagination>
            </div>

            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->