<div class="row top-buffer" id="activity-header" style="border: groove">
    <div class="col-md-6">
        <h3>{{activity.activityDate | date:'EEEE'}} Run</h3>
        <small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> {{activity.activityDate | date:'MMM dd,
            yyyy'}}
        </small>
    </div>

    <div class="col-md-offset-4 col-md-2 pull-right">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a ng-href="#/activity/edit/{{activity.id}}" title="edit activity"><i
                        class="glyphicon glyphicon-edit"></i> Edit</a></li>
                <li><a ng-href="#/activity/share/{{activity.id}}" title="share activity"><i
                        class="glyphicon glyphicon-share"></i> Share</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-lg-4">
        <div class="panel mini-box">
                        <span class="box-icon rounded bg-success">
                            <i class="fa fa-road"></i>
                        </span>

            <div class="box-info">
                <p class="size-h2">{{activity.distanceCovered}} </p>

                <p class="text-muted"><span data-i18n="Goal">Distance Ran ({{activity.goalUnit | lowercase}})</span></p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel mini-box">
            <span class="box-icon rounded bg-warning">
                <i class="fa fa-bolt"></i>
            </span>
            <div class="box-info">
                <p class="size-h2">{{activity.distanceCovered | pace : activity.duration | number:2}}
                </p>

                <p class="text-muted"><span data-i18n="Pace">Pace (mins/{{activity.goalUnit | lowercase}})</span>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel mini-box">
            <span class="box-icon rounded bg-info">
                <i class="fa fa-clock-o"></i>
            </span>
            <div class="box-info">
                <p class="size-h2">{{activity.duration | duration}}</p>

                <p class="text-muted"><span data-i18n="Pace">Duration (hh:mm:ss)</span>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row well top-buffer" id="activity-content">
    <p class="lead">{{activity.status}}</p>
</div>
