<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Timeline</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-clock-o fa-fw"></i> Your activities
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="well" ng-if="activities.length == 0" ng-cloak>
                    <h2>@{{userProfile.username}} hasn't tracked any activities yet!!</h2>
                </div>

                <ul class="timeline" ng-if="activities.length">
                    <li ng-repeat="activity in activities" ng-class-even="'timeline-inverted'">
                        <div class="timeline-badge">
                            <span class="avatar"><img ng-src="{{activity.profilePic}}"></span>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading clearfix ">
                                <h4 class="timeline-title">@<a ng-href="{{appContext()}}profiles/{{activity.username}}">{{activity.username}}</a> ran {{activity.distanceCovered |number:2}} {{activity.goalUnit | lowercase}}</h4>
                                <span class="pull-right text-muted small"><i class="fa fa-calendar fa-fw"></i><em>{{activity.activityDate | date:'MMM dd, yyyy'}}</em></span>
                            </div>
                            <div class="timeline-body">
                                <p>{{activity.status}}</p>
                                <hr>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                            data-toggle="dropdown">
                                        <i class="fa fa-cog"></i>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a ng-href="{{appContext()}}profiles/{{activity.username}}/activities/{{activity.id}}" title="view activity">View</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="pull-right">
                                    <a class="btn btn-xs btn-social-icon btn-facebook" target="_blank" ng-href="{{facebookShareUrl(activity)}}">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <a class="btn btn-xs btn-social-icon btn-twitter" target="_blank" ng-href="{{twitterShareUrl(activity)}}">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a class="btn btn-xs btn-social-icon btn-google-plus" target="_blank" ng-href="{{googleShareUrl(activity)}}">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <pagination direction-links="false" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->