<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <title>Miles2Run Goals</title>

    <!-- Core CSS - Include with every page -->
    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link href="/css/sb-admin.css" th:href="@{/css/sb-admin.css}" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet'
          type='text/css'/>

    <!-- Page-Level Plugin CSS -->
    <link rel="stylesheet" href="/css/toastr.css" th:href="@{/css/toastr.css}"/>
    <link href="/css/plugins/timeline/timeline.css" th:href="@{/css/plugins/timeline/timeline.css}" rel="stylesheet"/>

    <!-- Miles2Run Overrides -->
    <link href="/css/miles2run.css" th:href="@{/css/miles2run.css}" rel="stylesheet"/>

    <link href="/css/plugins/morris/morris-0.4.3.min.css" th:href="@{/css/plugins/morris/morris-0.4.3.min.css}"
          rel="stylesheet"/>

</head>

<body>

<div id="wrapper">

    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" th:href="@{/}">Miles2Run</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right" th:if="${profile != null}">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a href="/" th:href="@{/}">
                    <div>
                        <i class="fa fa-home fa-fw"></i> Home
                    </div>
                </a>
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#" th:href="@{'/profiles/' + ${profile.username}}" th:inline="text">
                            <img width="25" height="25" th:src="${profile.profilePic}"/> [[${profile.fullname}]]
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="/logout" th:href="@{/logout}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <div class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a th:href="@{/goals}"><i class="fa fa-list-ol fa-fw"></i> Goals</a>
                    </li>
                    <li>
                        <a th:href="@{/goals/create}"><i class="fa fa-clock-o fa-fw"></i> New Goal</a>
                    </li>
                </ul>
                <!-- /#side-menu -->
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-top-links -->
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Goals</h1>
            </div>
            <!-- /.col-lg-12 -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Create New Goal
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form id="goalForm" class="form-horizontal" role="form" action=""
                                          th:action="@{/goals/create}" method="POST">
                                        <fieldset>

                                            <!-- Text input-->
                                            <div id="purposeGroup" class="form-group">
                                                <label class="col-md-4 control-label" for="purpose">Purpose</label>

                                                <div class="col-md-6">
                                                    <input id="purpose" name="purpose" type="text"
                                                           placeholder="Goal purpose"
                                                           class="form-control input-md" th:value="${goal.purpose}"
                                                           required=""/>

                                                </div>
                                            </div>
                                            <!-- Text input-->
                                            <div id="goalFormGroup" class="form-group">
                                                <label class="col-md-4 control-label" for="goal">Goal</label>

                                                <div class="col-md-4">
                                                    <input id="goal" name="goal" type="number"
                                                           placeholder="Distance you want to run"
                                                           title="Please enter 'goal'"
                                                           class="form-control input-md" required="" min="1" step="1"
                                                           th:value="${goal.goal}"/>
                                                </div>
                                                <div class="col-md-4">
                                                    <label class="radio-inline pull-left" for="kms">
                                                        <input type="radio" name="goalUnit" id="kms" value="KMS"
                                                               checked="checked"
                                                               th:checked="${goal.goalUnit != null and goal.goalUnit.toString() == 'kms'}"/>kms
                                                    </label>
                                                    <label class="radio-inline pull-left" for="miles">
                                                        <input type="radio" name="goalUnit" id="miles" value="MILES"
                                                               th:checked="${goal.goalUnit != null and goal.goalUnit.toString() == 'miles'}"/>miles
                                                    </label>
                                                </div>
                                            </div>

                                            <div id="targetDateGroup" class="form-group">
                                                <label class="col-md-4 control-label" for="targetDate">Target Date</label>

                                                <div class="col-md-6">
                                                    <input id="targetDate" name="targetDate" type="date"
                                                           placeholder="Target date to achieve this goal"
                                                           class="form-control input-md" th:value="${goal.targetDate}"
                                                           required=""/>

                                                </div>
                                            </div>
                                            <!-- Button -->
                                            <div class="form-group">
                                                <div class="col-md-offset-4 col-md-4">
                                                    <button id="goalSaveButton" name="goalSaveButton"
                                                            class="btn btn-success btn-lg">New Goal
                                                    </button>
                                                </div>
                                            </div>

                                        </fieldset>
                                    </form>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Core Scripts - Include with every page -->
<script src="/js/libs/jquery.js" th:src="@{/js/libs/jquery.js}"></script>
<script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="/js/plugins/metisMenu/jquery.metisMenu.js" th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>

<!-- SB Admin Scripts - Include with every page -->
<script src="/js/sb-admin.js" th:src="@{/js/sb-admin.js}"></script>
</body>

<script src="/js/libs/jquery.validate.js" th:src="@{/js/libs/jquery.validate.js}"></script>

<script>
    $(document).ready(function () {
        $('#goalForm').validate();

    });
</script>
</html>