<!DOCTYPE html>
<html lang="en" ng-app="miles2run-profile" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <title th:text="${userProfile.fullname +' ('+ userProfile.username +')'} + ' on Miles2Run'"></title>

    <!-- Core CSS - Include with every page -->
    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link href="/css/sb-admin.css" th:href="@{/css/sb-admin.css}" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet'
          type='text/css'/>

    <!-- Page-Level Plugin CSS -->
    <link rel="stylesheet" href="/css/toastr.css" th:href="@{/css/toastr.css}"/>
    <link href="/css/plugins/timeline/timeline.css" th:href="@{/css/plugins/timeline/timeline.css}" rel="stylesheet"/>
    <link href="/css/plugins/social-buttons/social-buttons.css" th:href="@{/css/plugins/social-buttons/social-buttons.css}" rel="stylesheet"/>

    <!-- Miles2Run Overrides -->
    <link href="/css/miles2run.css" th:href="@{/css/miles2run.css}" rel="stylesheet"/>

</head>

<body>

<div id="wrapper">

    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" th:href="@{/}">Miles2Run</a>
        </div>
        <!-- /.navbar-header -->


        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a href="/community_runs" th:href="@{/community_runs}">
                    <div>
                        <i class="fa fa-group fa-fw"></i> Community Runs
                    </div>
                </a>
            </li>

            <!-- /.dropdown -->
            <li class="dropdown" th:if="${profile != null}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#" th:href="@{'/users/' + ${profile.username}} + '#/'" th:inline="text">
                            <img width="25" height="25" th:src="${profile.profilePic}"/> [[${profile.fullname}]]
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="/logout" th:href="@{/logout}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->
        <div class="navbar-default navbar-static-side" role="navigation" ng-controller="HeaderCtrl">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li ng-class="{ active: isActive('/')}">
                        <a href="#/"><i class="fa fa-clock-o fa-fw"></i> Timeline</a>
                    </li>
                    <li ng-class="{ active: isActive('/followers')}">
                        <a href="#followers"><i class="fa fa-users fa-fw"></i> Followers</a>
                    </li>
                    <li ng-class="{ active: isActive('/following')}">
                        <a href="#following"><i class="fa fa-users fa-fw"></i> Following</a>
                    </li>
                </ul>
            <!-- /.sidebar-collapse -->
        </div>

    </div>
    </nav>

    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Profile</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="avatar pull-left"><img th:src="${userProfile.biggerProfilePic}"/></span> <h3 th:text="${userProfile.fullname}"></h3>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <h4 th:text="'@' + ${userProfile.username}"></h4>
                        <p th:text="${userProfile.bio}"></p>
                        <p th:inline="text"><i class="fa fa-map-marker fa-fw"></i> [[${userProfile.city} + ', '+ ${userProfile.country}]]</p>
                        <p th:inline="text"><i class="fa fa-clock-o fa-fw"></i> [['Joined ' + ${#dates.format(userProfile.createdAt,'MMMM yyyy')}]]</p>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-lg-10 col-sm-10">
                                <div class="col-lg-4 col-sm-4 text-center">
                                    <h5>Total Goals</h5>

                                    <div th:text="${activeGoalCount}">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 text-center">
                                    <h5>Total Activities</h5>

                                    <div th:text="${totalActivities}">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 text-center">
                                    <h5>Total Distance</h5>

                                    <div th:text="${#numbers.formatDecimal(totalDistance,1,2)} + ' mi'">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-2 text-center pull-right" th:if="${profile != null}" ng-controller="FriendsCtrl">
                                <h4></h4>
                                <a th:href="@{/users/edit}" class="btn btn-default" th:if="${isMyProfile} == true">Edit Profile</a>
                                <a href="#unfollow" class="btn btn-info" th:if="${isFollowing} == true" ng-click="unfollowUser()">Following</a>
                                <a href="#follow" class="btn btn-default" th:if="${isFollowing} == false" ng-click="followUser()">
                                    <span class="glyphicon glyphicon-user"></span> Follow
                                </a>
                            </div>
                        </div>


                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->

            </div>
            <div ng-view="">

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<script th:inline="javascript">
    /*<![CDATA[*/

    var activeUserProfile = [[${profile}]];
    var userProfile = [[${userProfile}]];
    /*]]>*/
</script>

<!-- Core Scripts - Include with every page -->
<script src="/js/libs/jquery.js" th:src="@{/js/libs/jquery.js}"></script>
<script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="/js/plugins/metisMenu/jquery.metisMenu.js" th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<!-- Page-Level Plugin Scripts -->

<!-- SB Admin Scripts - Include with every page -->
<script src="/js/sb-admin.js" th:src="@{/js/sb-admin.js}"></script>

<script src="/js/libs/angular.js" th:src="@{/js/libs/angular.js}"></script>
<script src="/js/libs/angular-resource.js" th:src="@{/js/libs/angular-resource.js}"></script>
<script src="/js/libs/angular-cookies.js" th:src="@{/js/libs/angular-cookies.js}"></script>
<script src="/js/libs/angular-sanitize.js" th:src="@{/js/libs/angular-sanitize.js}"></script>
<script src="/js/libs/angular-route.js" th:src="@{/js/libs/angular-route.js}"></script>
<script src="/js/libs/ui-bootstrap-tpls-0.11.0.js" th:src="@{/js/libs/ui-bootstrap-tpls-0.11.0.js}"></script>
<script src="/js/libs/toastr.js" th:src="@{/js/libs/toastr.js}"></script>
<script src="/js/libs/moment.js" th:src="@{/js/libs/moment.js}"></script>

<script src="/scripts/profile/app.js" th:src="@{/scripts/profile/app.js}"></script>
<script src="/scripts/profile/services/TimelineService.js" th:src="@{/scripts/profile/services/TimelineService.js}"></script>
<script src="/scripts/profile/services/ConfigService.js" th:src="@{/scripts/profile/services/ConfigService.js}"></script>
<script src="/scripts/profile/services/FriendsService.js" th:src="@{/scripts/profile/services/FriendsService.js}"></script>
<script src="/scripts/profile/controllers/UserTimelineCtrl.js" th:src="@{/scripts/profile/controllers/UserTimelineCtrl.js}"></script>
<script src="/scripts/profile/controllers/FollowersCtrl.js" th:src="@{/scripts/profile/controllers/FollowersCtrl.js}"></script>
<script src="/scripts/profile/controllers/FollowingCtrl.js" th:src="@{/scripts/profile/controllers/FollowingCtrl.js}"></script>
<script src="/scripts/profile/controllers/FriendsCtrl.js" th:src="@{/scripts/profile/controllers/FriendsCtrl.js}"></script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-49243977-1', 'miles2run.org');
    ga('send', 'pageview');

</script>


</body>

</html>